body {
	background: black;
	font-family: tahoma;
}

body .content {
	color: rgb(228, 223, 27);
	margin: 0 auto;
	overflow: hidden;
	font-family: century;
	width: 960px;
}

body .content .logomarca {
	font-size: 72px;
	float: left;
}

body .content .logomarca .texto {
	margin-left: 7px;
}

body .content .logomarca .descricao {
	font-size: 16px;
}

body .content .logomarca .descricao {
	margin: 0;
	margin-top: -10px;
}

body .content  .login {
	float: right;
	margin: 10px;
}

body .content .login,
.enviar-formulario {
	padding: 6px 10px;
	background-color: rgb(228, 223, 27);
	color: black;
	border-radius: 5px;
}

.label { 
	Color: rgb(228, 223, 27);
	margin: 10px 0;
	display: block;
}

body .content .menu {
	margin-top: 14%;
	border-radius: 5px;
	background: rgb(228, 223, 27);
	padding: 6px 10px;
	color: black;
	font-size: 11pt;
}

body .content .header {
	overflow: hidden;
	position: fixed;
	width: 960px;
	background: black;
	top: 0;
	padding-top: 20px;
	z-index: 100;
}

body .content .menu li {
	display: inline;
	float: right;
	margin: 0 8px;
}

body .content .menu li.current-user {
	width: 50%;
	display: inline-block;
	float: none;
}

body .content .menu li a:hover,
body .content .menu li .nome-usuario,
body .content .login:hover {
	text-shadow: 1px 0px 0px black;
}	

body .content a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}


body .content .context #inicio {
	margin-top: 200px;
}

body .content .context #oferecer-servico, 
body .content .context #adquirir-servico,
body .content .context #novo-cadastro,
body .content .context #contato,
body .content .context #cadastro-servico {
	margin-top: 22%;
}

body .content .context {
	clear: both;
	margin: 0 60px;
	padding: 10px;
	color: rgb(128, 128, 128);
	border-radius: 10px;
}

.introducao {
	display: block;
	background-repeat: no-repeat;
	color: transparent;
	border-radius: 8px;
	width: 800px;
	height: 210px;
	margin-top: 20px;
}

.box-login {
	display: none;
	position: absolute;
	width: 25%;
	margin-left: 500px;
	padding: 3px;
	border: 1px solid yellow;
	border-radius: 4px;
}

.box-login input {
	border: none;
	padding: 2%;
	margin: 4px;
	border-radius: 4px;
	width: 92%;
}

.box-login .actions {
	text-align: center;
}

.box-login button {
	cursor: pointer;
	margin: 4px;
	border-radius: 4px;
}

.box-login .cadastrar a{
	color:  yellow;
	cursor: pointer;
	display: block;
}

#dadosFormulario {
	text-align: left;
}

#dadosFormulario span {
	display: block;
	margin: 2% 0;
}

#dadosFormulario span label {
	float: left;
	width: 120px;
}

#dadosFormulario span input {
	padding: 4px;
	border: none;
	width: 48%;
	border-radius: 4px;
}

#dadosFormulario span input[type=submit] {
	width: 10%;
	margin-left: 54%;
	cursor: pointer;
}